<section class="ff-inter pensamento {{ pensamento.modelo }}">
    <img src="/assets/imagens/{{ pensamento.modelo }}.png" alt="" />
    <p class="conteudo">{{ pensamento.conteudo }}</p>
    <p class="autoria"><b>{{ pensamento.autoria }}</b></p>

    <div class="acoes">
      <button class="botao-excluir">
        <img src="../../../../assets/imagens/icone-excluir.png" alt="Icone excluir" />
      </button>
      <button class="botao-editar">
        <img src="../../../../assets/imagens/icone-editar.png" alt="Icone editar" />
      </button>
    </div>
</section>
